* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-div {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pagination {
  text-align: center;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.paginationButton {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.paginationButton > button {
  width: 30px;
  height: 30px;
  border: none;
} 
